<div class="category_button">
  <%= button_to "Urgent & Important", "/tasks/category/UI", :method => :get, :class => 'btn btn-primary'%>
  <%= button_to "Urgent, Not Important", "/tasks/category/UNI", :method => :get, :class => 'btn btn-success' %>
  <%= button_to "Not Urgent, Important", "/tasks/category/NUI", :method => :get, :class => 'btn btn-info' %>
  <%= button_to "Not Urgent, Not Important", "/tasks/category/NUNI", :method => :get, :class => 'btn btn-warning' %>
</div>