<div class="category_button">
    <div class="first_group_button">
      <%= button_to "Urgent & Important", task_type_path(:category => "UI?#{params[:id]}"), :method => :get, :class => 'btn btn-warning buzz-out'%>
      <%= button_to "Urgent, Not Important", task_type_path(:category => "UNI?#{params[:id]}"), :method => :get, :class => 'btn btn-success buzz-out' %>
    </div>

    <div class="second_group_button">
      <%= button_to "Not Urgent, Important", task_type_path(:category => "NUI?#{params[:id]}"), :method => :get, :class => 'btn btn-info buzz-out' %>
      <%= button_to "Not Urgent, Not Important", task_type_path(:category => "NUNI?#{params[:id]}"), :method => :get, :class => 'btn btn-primary buzz-out' %>
    </div>
</div>

<!-- <p class="tooltip-bottom" data-tooltip="Sydney, Australia Sunny day!">Test me!</p>
 -->
