<div id="center-block">
    <kbd class="lead pulse-grow">Your Archive Tasks</kbd>

    <div class="list-group">
        <a href="/tasks/archives/all" class="list-group-item active">Show all</a>
        <a href="/tasks/archives/UI" class="list-group-item">Urgent & Important</a>
        <a href="/tasks/archives/UNI" class="list-group-item">Urgent, Not Important</a>
        <a href="/tasks/archives/NUI" class="list-group-item">Not Urgent, Important</a>
        <a href="/tasks/archives/NUNI" class="list-group-item">Not Urgent, Not Important</a>
    </div>

    <div id="user_link">
        <div class="center-block">
        <h1 class="outline-inward"><%= link_to('Current Tasks', tasks_categories_path) %></h1>
         &
        <h1 class="outline-inward"><%= link_to('Archives', tasks_archives_path) %></h1>
    </div>
</div>