<div class="center-block" id="center-block">
    <h2 class="lead"><u>All Your Archive Tasks</u></h2>

    <% @tasks.each do |task| %>
        <h2><%= link_to task.description, task_path(task.id), :class => "outline-inward" %></h2>
    <% end %>

    <br>
    <h4 class="ion-reply"><%= link_to('back', tasks_archives_path) %></h4>
</div>