<h2>You have <%= pluralize(@archive_by_category.count, params[:category] + ' task') %> in archive!</h2>

<% @archive_by_category.each do |task| %>
  <%= link_to task.description, task_path(task.id) %>
<% end %>

<br>
<h4 class="ion-reply"><%= link_to('back', tasks_archives_path) %></h4>