<h1 class="lead">All Your Current Tasks</h1>

<ul class="list-unstyled">
    <% @tasks.each do |task| %>
        <li><%= link_to task.description, task_path(task.id), :class => 'ion-pin' %></li>
    <% end %>
</ul>