<h1>Catagories</h1>
<%= link_to "Urgent & Important", "/tasks/UI/tasks_by_category" %>
<%= link_to "Urgent, Not Important", "/tasks/UNI/tasks_by_category" %>
<%= link_to "Not Urgent, Important", "/tasks/NUI/tasks_by_category" %>
<%= link_to "Not Urgent, Not Important", "/tasks/NUNI/tasks_by_category" %>