<div class="center-block" id="">
    <h1 id="home_welcome">Welcome to Effy</h1>
  
    <kbd class="lead letter" id="tagline">-> Make your life easier with Effy today! <-</kbd>
    <!-- When you are logged in you are still telling people to sign up.... -->
    <p><a class="btn btn-success btn-lg wobble-horizontal" id="home_signup_btn" role="button" href="/users/new"><em>Sign up</em></a></p>
</div>

<div class="video-container center-block">
    <iframe scrolling="no" allowTransparency="true" frameborder="0" width="700" allowfullscreen height="450" src="http://goanimate.com/player/embed/0CP9Iq6mDYbQ"></iframe>
</div>
