<div class="center-block" id="">
    <kbd class="lead letter" id="tagline">Life is easier with Effy</kbd>
</div>

<div class="video-container center-block">
    <iframe scrolling="no" allowTransparency="true" frameborder="0" width="700" allowfullscreen height="450" src="http://goanimate.com/player/embed/0CP9Iq6mDYbQ"></iframe>
</div>
