<div class="center-block" id="center-block">
    <h1 id="home_welcome">Welcome to Effy</h1>
  
    <p class="lead"><em>Make your life easier with Effy today!</em></p>

    <p><a class="btn btn-success btn-lg wobble-horizontal" role="button"><em>Sign up</em></a></p>    

    <div class="iframe">
        <iframe scrolling="no" allowTransparency="true" frameborder="0" width="600" height="387" src="http://goanimate.com/player/embed/0CP9Iq6mDYbQ"></iframe>
    </div>

</div>
