<div class="center-block" id="">
    <h1 id="home_welcome">Welcome to Effy</h1>
  
    <kbd class="lead letter">-> Make your life easier with Effy today! <-</kbd>

    <p><a class="btn btn-success btn-lg wobble-horizontal" id="home_signup_btn" role="button" href="/users/new"><em>Sign up</em></a></p>    

    <div class="iframe grow">
        <iframe scrolling="no" allowTransparency="true" frameborder="0" width="800" height="516" src="http://goanimate.com/player/embed/0CP9Iq6mDYbQ"></iframe>
    </div>

</div>
