<h2>You have <%= pluralize(@tasks_by_category.count, params[:category] + ' task') %> to go!</h2>

<% @tasks_by_category.each do |task| %>
  <%= link_to task.description, task_path(task.id) %>
<% end %>

<br>
<h4 class="ion-reply"><%= link_to('back', tasks_categories_path) %></h4>
