<div class="center-block" id="center-block">
    <h2><u>You have <%= pluralize(@tasks_by_category.count, params[:category] + ' task') %> to go!</u></h2>

    <% @tasks_by_category.each do |task| %>
      <h2><%= link_to task.description, task_path(task.id), :class => "outline-inward" %></h2>
    <% end %>

    <br>
    <h4 class="ion-reply"><%= link_to('back', tasks_categories_path) %></h4>
<div>
