/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require ionicons
 *= require font-awesome
 *= require_self
 *= require_tree .
 */

@import "bootstrap.css";

html {
    background: url('/assets/background.jpg') center center fixed;
    background-size: cover;
}

html > body {
    background-color: transparent!important;
    /*font-family: 'Londrina Shadow', cursive;*/
    font-family: 'Oleo Script', cursive;
    color: #ffcb25;
    font-size: 20px;
}

span {
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 40px;
    color: #ffde2e;
    text-shadow: 2px 2px 2px #2a0a0d;
}

#home_welcome {
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 55px;
    color: #ff7a8c;
    text-shadow: 1px 2px 3px #55282e;
}

a {
    display: block;
    color: #5867ff;
}

a:hover {
    color: #9eebff;
}

.yield_container {
    padding : 30px;
    /*background-color: rgba(255,255,255,0.3);*/
}

hr.style-two {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,255.75), rgba(255,255,255,0)); 
    background-image:    -moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,255.75), rgba(255,255,255,0)); 
    background-image:     -ms-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,255.75), rgba(255,255,255,0)); 
    background-image:      -o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,255.75), rgba(255,255,255,0)); 
}

kbd {
    font-size: 20px;
    padding: 8px 50px;
    margin: 5px;
}

a:hover {
    text-decoration: none!important;
}

.category_button {
    text-align: center;
}

#social {
    font-size: 20px;
}

i {
    font-size: 16px;
}

nav {
    padding: 13px;
}

.navbar {
    border-radius: 10px;
    opacity: 0.75;
}

#footer {
   position:fixed;
   left: 0px;
   bottom: 0px;
   height: 33px;
   width: 100%;
   background: #f7fff4;
   border-radius: 10px;
   opacity: 0.5;
   color: red;
}



/* Wobble Vertical */

@-webkit-keyframes wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    -ms-transform: translateY(8px);
    transform: translateY(8px);
  }

  33.3% {
    -webkit-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  49.95% {
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    transform: translateY(4px);
  }

  66.6% {
    -webkit-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  83.25% {
    -webkit-transform: translateY(1px);
    -ms-transform: translateY(1px);
    transform: translateY(1px);
  }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.wobble-vertical {
  display: inline-block;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);

  -webkit-animation-name: wobble-vertical;
  animation-name: wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}