/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *

 *= require ionicons
 *= require font-awesome
 *= require_self
 *= require bootstrap
 *= require_tree .
 */

@import "bootstrap.css";

html {
    background: url('/assets/background.jpg') center center fixed;
    background-size: cover;
}

html > body {
    background-color: transparent!important;
    font-family: 'Oleo Script', cursive;
    color: #ffcb25;
    font-size: 20px;
    letter-spacing: 0.1px;
}

span {
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 40px;
    color: #ffde2e;
    text-shadow: 2px 2px 2px #2a0a0d;
}

#home_welcome {
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 99px;
    color: #ff7a8c;
    text-shadow: 1px 2px 3px #55282e;
}

a {
    display: block;
    color: #5867ff;
}

a:hover {
    color: #9eebff;
}

.yield_container {
    padding : 30px;
}

hr.style-two {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
    background-image:    -moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255, 0.75), rgba(255,255,255,0)); 
    background-image:     -ms-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255, 0.75), rgba(255,255,255,0)); 
    background-image:      -o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255, 0.75), rgba(255,255,255,0)); 
}

kbd, kbd#kbd {
    font-size: 20px;
    padding: 8px 22px;
    margin: 5px;
}

a:hover {
    text-decoration: none!important;
}

.category_button {
    text-align: center;
}

#social {
    font-size: 20px;
}

i {
    font-size: 20px;
}

nav {
    padding: 13px;
}

.navbar {
    border-radius: 10px;
    opacity: 0.8;
    padding: 5px;
    border-bottom: 1px solid #78e2de;
}

#footer {
   position:fixed;
   left: 0px;
   bottom: 0px;
   height: 33px;
   width: 100%;
   background: #f7fff4;
   border-radius: 10px;
   opacity: 0.7;
   color: red;
}

#weather {
    font-size: 53px;
    cursor: default;
}

.disable {
   pointer-events: none;
   cursor: default;
}

.letter {
    letter-spacing: 4px;
}

.navbar-collapse.in .social {
    display: none;
}